body{
    background-color: rgb(168, 224, 247);
}

.dashboard-container{
    display: block;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Comic Sans MS';
}

.dashboard{
    display: block;
    width: 100%;
}

#setting-icon{
    width: 50px;
    float: right;
    overflow: hidden;
    margin: 15px 30px 0 0;
    padding: 5px;
    transition: 0.5s;
    border-radius: 20px;
    background-color: rgba(100, 100, 100, 1);
}

#setting-icon:hover{
    border-radius: 30px;
    transition: 0.5s;
}

.main-dashboard{
    width: 100%;
    margin-top: 100px;
}

#title{
    text-align: center;
    font-size: 40px;
}

.main-dashboard{
    margin: 0 auto;
    width: fit-content;
}

.main-dashboard ul{
    margin-top: 50px;
}

.main-dashboard #title{
    padding-top: 50px;
}

.main-dashboard ul li{
    width: 200px;
    text-align: center;
    background-color: rgb(225, 225, 225);
    border-radius: 30px; 
    padding: 10px;    
    display: inline-block;    
    border: solid 2px ; 
}

.setting-container{
    width: 100%;
    display: none;
}

.settings{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 500px;
    text-align: center;
}

.settings #title{
    padding-top: 50px;
}


#back-settings{
    margin: 10px 0 0 10px;
    float: left;
}

#back-settings button{
    border: solid 2px;
    font-weight: 600;
    padding: 4px 8px;
    background-color: rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

#back-settings button:hover{
    border: none;
    border: solid 2px rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.5);
    transition: 0.3s;
}

.settings table{
    margin: 0 auto;
}

.settings td{
    text-align: left;
    padding: 3px 20px 3px 10px;
}

.settings>button{
    margin-top: 10px;
    padding: 7px 30px;
    font-size: 20px;
    color: #ffffff;
    background: rgba(100, 100, 100, 0.8);
    border: 0px;
    transition: 1s;
}

.settings>button:hover{
    background: rgba(100, 100, 100, 1);
    transition: 1s;
}

.settings table{
    margin-top: 40px;
    border: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

.settings td, .settings th {
    border: 1px solid black;
  }

.settings table input{
    border: 0px;
    background: none
}

.ping-pong-container{
    display: none;
}

.postGameContainer{
    display: none;
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 50px;
    width: 100%;
    margin-top: 20%;
}

.postGameContainer #play-again{
    border: solid 2px;
    margin: 0 auto;
    width: 120px;
    padding: 3px 10px;
    border-radius: 10px;
    background-color: rgb(240, 239, 239);
    font-size: 20px;
}

.postGameContainer #play-again img{
    height: 20px;
    width: 20px;
}

.quit-game{
    width: 60px;
    padding: 5px 10px;
    position: absolute;
    display: none;
    margin-top: 1%;
    margin-left: 2%;
    background-color: rgb(170, 170, 170);
    border-radius: 5px;
}

.quit-game:hover{
    background-color:  rgb(199, 199, 199);
    cursor: pointer;
}

canvas{
    float: left;
}
